<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookmarking App</title>
  </head>
  <body>
    <h1>Bookmarking App</h1>
    <hr>
    <div id="bookmark_form_container"></div>
    <div id="bookmark_list_container"></div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
  <script src="lib/canjs.com-1.1.8/can.jquery.js"></script>
  <script src="lib/canjs.com-1.1.8/can.construct.super.js"></script>
  <script src="lib/canjs.com-1.1.8/can.observe.validations.js"></script>
  <script src="lib/canjs.com-1.1.8/can.observe.list.js"></script>
  <script src="lib/canjs.com-1.1.8/can.view.modifiers.js"></script>
  <script src="lib/canjs.com-1.1.8/can.mustache.js"></script>
  <script src="/app/base/app.js"></script>
  <script src="/app/tagfilter/app.js"></script>
  <script>new App_base();</script>
</html>
